<a routerLink="create">Create</a>
<router-outlet></router-outlet>
<h2>List Book</h2>
<!--<div *ngFor="let book of list">-->
<!--  <h1>{{book.title}} : {{book.author}} : {{book.description}}</h1>-->
<!--</div>-->
<div class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  <tbody *ngFor="let book of list">
  <td>{{book.title}}</td>
  <td>{{book.author}}</td>
  <td>{{book.description}}</td>
<!--  <td><button [routerLink]=['edit-book']>Sửa</button></td>-->
  <td><button (click)="delete(book.id)">Xóa</button></td>
  </tbody>
</div>
