<form [formGroup]="editForm" (ngSubmit)="update()">
  <div class="text-left">
    <label>Title</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="title"
           value="{{book.title}}">
  </div>
  <div class="text-left">
    <label> Author</label>

  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="author"
           value="{{book.author}}">
  </div>
  <div class="text-left">
    <label>Description</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="description"
          value="{{book.description}}">
  </div>

  <button type="submit" class="btn btn-success nutPhai mr-2">Update</button>

</form>
